.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
application.linux-armv6hf
application.linux-arm64
*.zip
linux-amd64
macos-aarch64
macos-x86_64
windows-amd64
linux-arm
linux-aarch64
